<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Python Restaurant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Contact Us</h1>
        <p>Email: <a href="mailto:pramodalmel@gmail.com">pramodalmel@gmail.com</a></p>
        <p>Phone: <a href="tel:+918088850229">+91 8088850229</a></p>
        <p>Location: Dasaralli 5th Main Cross, Bangalore, India</p>
        <p>Map: <a href="https://satellites.pro/Dasarahalli_map#13.061315,77.502880,15">map</a></p>        <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
</body>
</html>
